@import url('https://fonts.cdnfonts.com/css/digital-caliper');


.point-intero img {
    position: absolute;
    top: 0;
    left: 70%;
    width: 30%;
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin:0;
    padding:0;
    background-color: #F4E30A;
}

#question{
    font-size: 1.2rem;
    padding: 6rem;
    margin: auto;
    font-family: 'Digital Caliper', sans-serif;
    background-image: url(./img/bg-quiz.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#question p{
    margin: auto;
    text-align: center;
}


#options{
    padding: 0 10px 10px 10px;
}

#options button{
    border-radius: 50px;
    border: 3px solid #000000;
    font-size: 1rem;
    text-align: left;
    padding: 10px;
    margin: 1rem;
    margin-right: auto;
    font-weight: bold;
}


#quiz-container button{
    border-radius: 50px;
    border: 3px solid #000000;
    font-size: 1rem;
    padding: 10px;
    margin-right: auto;
    font-weight: bold;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    margin-bottom: 20px;
}

#quiz-container h1{
    font-size: 2rem;
    padding: 6rem;
    font-family: 'Digital Caliper', sans-serif;
    padding: 0;
    align-items: center;
    margin-bottom: 100px;
    text-align: center;
}

#quiz-container button:hover{

    transform: scale(1.05);
}



#options button.correct {
    background-color: #28a745;
    color: white;
}

#options button.incorrect {
    background-color: #dc3545;
    color: white;
}